# Core & web
a2wsgi
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
altair
annotated-doc
annotated-types
anyio
appdirs
asgiref
asttokens
attrs
bcrypt
bentoml
blinker
cachetools
cattrs
certifi
cffi
charset-normalizer
click
click-option-group
cloudpickle
colab-xterm
colorama
comm
contourpy
cryptography
cycler
dataclasses-json
debugpy
decorator
distro
dnspython
ecdsa
email-validator
et_xmlfile
executing
fastapi
filelock
Flask
Flask-Cors
Flask-SQLAlchemy
fonttools
frozenlist
fs
fsspec
git-filter-repo
gitdb
GitPython
greenlet
gunicorn
h11
httpcore
httpx
httpx-sse
httpx-ws
huggingface-hub
idna
imbalanced-learn
imblearn
importlib_metadata
iniconfig
intel-openmp
ipykernel
ipython
itsdangerous
jedi
Jinja2
jiter
joblib
json_repair
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kagglehub
kantoku
kiwisolver
langchain
langchain-community
langchain-core
langchain-experimental
langchain-ollama
langchain-openai
langchain-pinecone
langchain-tests
langchain-text-splitters
langchainhub
langsmith
llvmlite
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mkl
more-itertools
mpmath
multidict
mypy-extensions
narwhals
natural
neo4j
nest-asyncio
networkx
numba
numpy
nvidia-ml-py
ollama
openai
opencv-python
openpyxl
opentelemetry-api
opentelemetry-instrumentation
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-asgi
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
packaging
pandas
parso
passlib
pathspec
pillow
pinecone
pinecone-plugin-inference
pinecone-plugin-interface
pip-requirements-parser
platformdirs
plotly
pluggy
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
psycopg2
psycopg2-binary
ptyprocess
pure_eval
pyarrow
pyasn1
pycparser
pydeck
pydantic
pydantic-settings
pydantic_core
Pygments
pyparsing
pypdf
PyQt6
PyQt6-Qt6
PyQt6_sip
pytest
pytest-asyncio
pytest-socket
python-dateutil
python-dotenv
python-jose
python-json-logger
python-multipart
pytz
pywin32
PyYAML
pyzmq
questionary
referencing
regex
requests
requests-toolbelt
rich
rpds-py
rsa
safetensors
schema
scikit-learn
scipy
seaborn
setuptools
simple-di
six
sklearn-compat
smmap
sniffio
SQLAlchemy
stack-data
starlette
streamlit
sympy
syrupy
tabulate
tbb
tenacity
threadpoolctl
tiktoken
tokenizers
toml
tomli_w
torch
tornado
tqdm
traitlets
transformers
types-requests
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
waitress
watchdog
watchfiles
wcwidth
Werkzeug
wrapt
wsproto
xTerm
yarl
zipp
zstandard